header.banner {
  @extend .container-fluid;
  @include mesh-banner;
  @extend .mb-2;
  @extend .p-4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vw;
  > div {
    @extend .display-1;
    > span {
      letter-spacing: -0.3rem;
    }
  }
  // @include media-breakpoint-up(md) {min-height: 25vw;} 
  //   img {
  //     @extend .mx-auto;
  //     @extend .img-fluid;
  //     @extend .d-block;
  //     min-width: 80vw;
  //     height: auto;
  //   }
}