//
// BOOTSTRAP
// 
@import '../../../vendor/bootstrap/scss/bootstrap.scss';
@import '../../../vendor/bootstrap-icons/bootstrap-icons.css';
// 
//  Variables guide-style
//
// @root {
// --bs-body-color-rgb: 33, 37, 41;
// --bs-body-bg-rgb: 240, 237, 229;
// }
// 
// Nouvelles Couleurs
// 
$brand:         hsla(44, 27%, 92%, 0.702);
$brand-light:   rgb(240, 237, 229);
$brand-footer:  rgb(70, 85, 102);
// On crée une map pour la couleur
$custom-theme-colors: map-merge($theme-colors, (
  'brand':        $brand,
  'brand-light':  $brand-light,
  'brand-footer': $brand-footer,
  'blue-400':     $blue-400,
  'purple-400':   $purple-400,
  'orange-400':   $orange-400,
  'pink-400':     $pink-400,
  'yellow':       #EECC88,
  'purple':       #abaad0,
));

//  Merge the maps

//  On rajoute les nouvelles couleurs
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

// On édite background-color
@each $color-bg-name, $color-bg-value in $custom-theme-colors {
  .bg-#{$color-bg-name} {
    background-color: $color-bg-value;
  }
}
// on édite du color
@each $color-text-name, $color-text-value in $custom-theme-colors {
  .color-#{$color-text-name} {
    color: $color-text-value;
    // opacity: var(--bs-text-opacity)
  }
}
// On édite text-color
@each $color-text-name, $color-text-value in $custom-theme-colors {
  .text-#{$color-text-name} {
    color: $color-text-value;
    opacity: var(--bs-text-opacity)
  }
}
// On édite des border-colors
@each $color-border-name, $color-border-value in $custom-theme-colors {
  .border-#{$color-border-name} {
    border-color: $color-border-value !important;
  }
}
@import "../../../vendor/bootstrap/scss/bootstrap";

//
//  Mesh with mixins
//
@mixin mesh-banner {
  background-color:#f8b809b3;
  background-image:
  linear-gradient(30deg, #f8b809b3, 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777),
  radial-gradient(at 22% 70%, hsla(216,98%,62%,1) 0px, transparent 50%),
  radial-gradient(at 34% 47%, hsla(330,66%,62%,1) 0px, transparent 50%),
  radial-gradient(at 40% 20%, hsla(26,97%,63%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(261,49%,61%,1) 0px, transparent 50%);
}
@mixin gradient-mesh {
background-color: #4ddaac;
opacity: 0.8;
background-image:  linear-gradient(30deg, #4ddaac 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(30deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(150deg, #444cf7 12%, transparent 12.5%, transparent 87%, #444cf7 87.5%, #444cf7), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777), linear-gradient(60deg, #444cf777 25%, transparent 25.5%, transparent 75%, #444cf777 75%, #444cf777);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}
// 
//  Diagonales 
// 
// svg {
//   display: block;
//   width: 100%;
//   height: 20px;
//   background: var(--bs-body-bg-rgb);
//   ;
// }
// 
// Mixin pour container fluid oblique
//  source: https://9elements.com/blog/pure-css-diagonal-layouts/
//
// @mixin container-oblique-before {
//   &:before {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     background-color: #444cf7;
//     transform: skewY(-11deg);
//   }
// } 
// 
//  Mixin bordure perso  
// 
// @mixin color-border-person {
//     &[aria-label = toffel] {
//       * {
//         @extend .border-purple-400;
//       }
//     }
//     &[aria-label = vermeille] {
//       * {
//         @extend .border-purple-400;
//       }
//     }
//     &[aria-label = jacquey] {
//       *{
//         @extend.border-pink-400;
//       }
//     }
//     &[aria-label = bondallaz] {
//       * {
//         @extend .border-orange-400;
//     }
//   }
// }

//
// GUTTERS
// 
// @mixin mix-g-5 {
//   @extend .g-5;
// }
