//  Section Header
@mixin header-all {
    > header {
        @extend .row;
        @extend .align-items-end;
        @extend .border-bottom, .border-3;
        @extend .m-2, .m-md-0;      
        > h2 {
          @extend .col;
          @extend .align-self-start;
          @extend .h1, .fw-light, .fst-italic;
        }
        > p {
          @extend .col;
          @extend .d-none;
          @extend .d-md-block;
          @extend .align-self-end;
          @extend .text-end;
          @extend .m-0;
          > a {
            @extend .h4, .fw-light, .fst-italic;
            @extend .text-muted;
            @extend .text-decoration-none;
          }
        }
    
      }
}
// 
//  Cards
// 
@mixin card-model-all {
  @extend .card, .rounded-0, .text-reset, .lh-lg;
    >&:hover {
      @extend .shadow;
    }
}
@mixin card-body-all {
  > img {
    @extend .card-img-top;
    @extend .rounded-0;
    object-fit: cover;
    width:100%;
    height: clamp(200px, 10em, 400px);
    position: relative; 
  }
  > header {
    @extend .p-1, .p-md-2;
  }
  > div {
    @extend .card-body;
    // Mulit line
    // min-height: 3vw;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 1; /* start showing ellipsis when 3rd line is reached */
    // white-space: normal; /* let the text wrap preserving spaces */


    > h3 {
      @extend .pt-2;
    }
  }
  > p {
    @extend .card-footer;
    @extend .text-muted;
    @extend .m-0;
  }
}
