// 
//  Mixins locales
// 
@mixin card-model-all {
  @extend .card, .rounded-0, .text-reset, .lh-lg;
    >&:hover {
      @extend .shadow;
    }
}
@mixin card-body-all {
  > img {
    @extend .card-img-top;
    @extend .rounded-0;
    object-fit: cover;
    min-height: 15vw;
  }
  > div {
    @extend .card-body;
    min-height: 10vw;
    > h3 {
      @extend .pt-2;
    }
  }
  > p {
    @extend .card-footer;
    @extend .text-muted;
    @extend .m-0;
  }
}
// 
//  TOUTES LES SECTIONS
// 
section.all {
  @extend .ps-0;
  @extend .mt-2, .mt-md-4;
  > header {
    @extend .row;
    @extend .align-items-end;
    @extend .border-bottom, .border-3;
    @extend .ms-2, .mb-0;      
    > h2 {
      @extend .col;
      @extend .align-self-start;
      @extend .h1, .fw-light, .fst-italic;
    }
    > p {
      @extend .col;
      @extend .d-none;
      @extend .d-md-block;
      @extend .align-self-end;
      @extend .text-end;
      @extend .m-0;
      > a {
        @extend .h4, .fw-light, .fst-italic;
        @extend .text-muted;
        @extend .text-decoration-none;
      }
    }

  }
  > div {
    @extend .p-0;
    @extend .m-0;
    @extend .mt-2;
  }  
}
// 
//  NEWS
//
section.news {
  @extend .container;
    > header {
      @extend .border-warning-subtle;
    }
  > div {
    @extend .row;
    > div {
      @extend .col-md-6;
      @extend .col-lg-4;
      @extend .mb-3;
      > a {
        @extend .text-dark;
        @extend .text-decoration-none;
        > div {
          @include card-model-all;
          @include card-body-all;
        }        
      }
    }
    > div.sticky {
      @extend .col-12;
      @extend .col-md-6;
      @extend .col-lg-12;
    }
  }
  > a {
    width: 90%;
    height: 50px;
    @extend .d-block, .d-sm-block, .d-md-none;
    @extend .btn, .btn-light, .btn-lg;
    @extend .mx-auto;
  }
 h3 {
    @extend .fw-light;
  }
}
// 
//  REGATES
// 
section.regates {
  @extend .container;
  > div {
    @extend .row, .gx-5;
    // > div {
    //   @extend .col, .col-md-3;
    //   @extend .p-1, .p-md-4;
    //   > div {
    //     @include card-model-all;
    //     @include card-body-all;
    //     @extend .d-flex;
    //     @extend .p-2;
    //     h3 {
    //       @extend .fw-lighter, .border-0;

    //     }
    //     > div {
    //       // max-height: 10vw;
    //       // @extend .overflow-hidden;
    //       @extend .lh-base, .p-0, .mb-2;
    //     }
    //     a {

    //       @extend .btn, .btn-outline-primary, .justify-content-center;
    //     }
    //   }
    // }
  //   > div {
  //     @extend .d-flex;
  //     @extend .p-0;
  //     >&:hover {
  //       @extend .shadow;
  //     }
  //     > div:first-child {
  //       @extend .d-block, .w-md-100;
  //       @extend .p-0, .m-0;
  //     }
  //    > div:last-child {
  //     min-height: 150px;  
  //     @extend .m-0, .p-2, .p-md-3;
  //     }
  //   }

  // }

    div.card-regates {
      @extend .d-flex, .flex-wrap, .flex-column, .flex-md-row;
      div:last-child {
        @extend .d-flex, .flex-column;
        > h3 {
          @extend .bg-primary;
        }
      }
    }
  }
}

section.test {
  @extend .container;
  > div {
    @extend .row;
    div.test-one {
      @extend .d-flex, .flex-column, .flex-md-row;
      // div.one, div.two {
      //   width:250px;
      //   height: 250px;
      // }
      div.one {
        min-width: 40%;
        @extend .bg-success;
      }
      div.two {
        @extend .bg-warning;
      }
    }

  }

}
// 
//  CUST
// 
section.promo {
  @extend .diagonal-section, .diagonal-section--flip-x;
  // min-height: 20vw;
  @extend .my-5;
  @extend .bg-purple;
  > div {
    @extend .container;
    @extend .mx-auto, .py-5;
    > div {
      @extend .d-flex, .align-items-center;
      min-height: 20vw;
      @extend .bg-yellow;
    }
  }
}
