// 
//  Mixins locales
// 
@mixin card-model-all {
  @extend .card, .rounded-0, .text-reset, .lh-lg;
    >&:hover {
      @extend .shadow;
    }
}
@mixin card-body-all {
  > img {
    @extend .card-img-top;
    @extend .rounded-0;
    object-fit: cover;
    min-height: 15vw;
  }
  > div {
    @extend .card-body;
    min-height: 10vw;
    > h3 {
      @extend .pt-2;
    }
  }
  > p {
    @extend .card-footer;
    @extend .text-muted;
    @extend .m-0;
  }
}

@import 'sections/sec-all';

@import 'sections/sec-news';

@import 'sections/sec-regates';

@import 'sections/sec-cust';
