header.banner {
  @extend .container-fluid;
  min-height: 10vw;
  @extend .p-0;
  @extend .shadow;
  > figure {
    > img {
      @extend .img-fluid;
      }
    > img:first-of-type {
    position: absolute;
    mix-blend-mode: lighten;
    filter: blur(50px);
    opacity: 50%
    }
  }
}