footer {
  @extend  .container-fluid;
  @extend .m-0, .p-0;
  @extend .text-white, .fw-light;
  & .footer-info__map {
    background-color:  #646464;
  }
  & .footer-info {
      @extend .row, .m-0, .p-0;
      background-color:  #646464;
      // border: #646464;
    > div {
      @extend .col, .p-5;
      max-width: 33%;
      // @extend .d-flex, .align-items-center, .justify-content-start, .mx-auto, .px-5, .pt-5;
      h3 {
        @extend .border-bottom, .border-1, .border-white;
      }
      a {
        @extend .link-light, .text-decoration-none;
      }
    }
    > &__map {
      min-height: 20vw;
      @extend .m-0, .p-0;
      img {
        @extend .img-fluid;
      }
    }
    &__copyright {
      @extend .d-flex, .align-items-center, .justify-content-center, .mx-auto, .py-5, .text-decoration-none;
      background-color:  #465566;
      min-height: 5vw;
    }
  }
}