// 
//  REGATES
// 
section.regates {
  @extend .container;

  > div {
    @extend .row;
    > div {
      @extend .row;
      width:100%;
      > figure {
        @extend .col-12, .col-md-5, .m-0, .p-0;
        min-height: 250px;
        > img {
          @extend  .object-fit-none, .m-0;
          min-height: 100%;
        }
      }
      > div.card-body {
        @extend .col-12, .col-md-7;
        @include card-body-all;
        @extend .ps-2, .pt-2, .pe-0;
        > a {
          @extend .btn, .btn-outline-primary, .btn-lg, .my-2;
        }
      }
    }

  }
}
