// 
//  CUST

section.cust {
    @extend .diagonal-section, .diagonal-section--flip-x;
    // min-height: 20vw;
    @extend .my-5;
    // @extend .bg-purple;
     background-color: #f0ede5; 
    // #ea5933;
    // #f0ede5;
    @extend .text-black;
    > div {
      @extend .container;
      @extend .mx-auto, .py-5;
      > div {
        @extend .row, .p-2, .p-md-0;
        > figure {
          @extend  .col, .col-md-4;
          @extend .rounded-0;
          object-fit: cover;
          width:100%;
          height: clamp(200px, 10em, 400px);
          position: relative; 
          > img {
            @extend .img-fluid;
          }
        }
        > div {
          @extend .col, .col-md-7;
          @extend .mt-2, .mt-md-5;
        }
      }
    }
  }