// 
//  NEWS
//
//
@mixin multiline  {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
        white-space: pre-wrap; /* let the text wrap preserving spaces */
}
//
section.news {
    @extend .container;
    > header {
    @extend .border-warning-subtle;
    }
    > div {
        @extend .row;
        > div {
            @extend .col-md-6;
            @extend .col-lg-4;
            @extend .mb-3;
            > a {
                @extend .text-dark;
                @extend .text-decoration-none;
                
                > div {
                @include card-model-all;
                @include card-body-all;
                }
            }
        }
        > div.sticky {
            @extend .col-12;
            @extend .col-md-6;
            @extend .col-lg-12;
        }
    }
    > a {
        width: 90%;
        height: 50px;
        @extend .d-block, .d-sm-block, .d-md-none;
        @extend .btn, .btn-light, .btn-lg;
        @extend .mx-auto;
    }
    h3 {
        @extend .fw-light;
    }
}